/* =============== MOBILE ===============*/

.hero-section-container {
    padding-top: 15px;
    padding-bottom: 58px;
    padding-right: 20px;
    padding-left: 20px;
}

.hero-section-thumb {
    padding-bottom: 16px;
}

.hero-section-img {
    width: 338px;
    margin: 0 auto;
}

.hero-section-header {
    text-align: center;
    padding-bottom: 16px;

    color: var(--black);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.67; 
}

.hero-section-text {
    text-align: center;
    padding-bottom: 16px;

    color: var(--black);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
}

.hero-section-button-wraper {
    display: flex;
    gap: 28px;
    justify-content: center;
    align-items: center;
}

.hero-section-button {
    width: 142px;
    height: 53px;
    border-radius: 4px;
    background: var(--dark-green);

    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

.hero-section-link {
    color: var(--dark-green);

    font-size: 16px;
    font-weight: 600;

    text-decoration-line: underline;
}

/* =============== Desktop ===============*/

@media screen and (min-width: 1150px) {
    .hero-section-container {
        display: flex;
        flex-direction: row;
        justify-content: center;

        padding-top: 22px;
        padding-bottom: 50px;
    }

    .hero-section-thumb {
        max-width: 610px;
        max-height: 555px;
        order: 1;
    }

    .hero-section-img {
        width: 100%;
        height: 100%;
    }

    .hero-section-wraper {
        max-width: 465px;
        padding-top: 112px;
    }

    .hero-section-header {
        padding-bottom: 18px;
        text-align: left;

        color: var(--black);
        font-size: 40px;
        font-weight: 700;
        line-height: 1.5; 
    }

    .hero-section-text {
        padding-bottom: 45px;
        text-align: left;

        color: var(--black);
        font-size: 18px;
        font-weight: 400;
        line-height: 1.56;
    }

    .hero-section-button-wraper {
        gap: 30px;
        justify-content: left;
        align-items: center;
    }
}