<section class="benefits-section">
  <div class="page-container">
    <ul class="benefits-section-list">
      <li class="benefits-section-item">
        <div class="benefits-container">
          <p class="benefits-text">Effortless Validation for</p>
          <h2 class="benefits-title">Management</h2>
          <p class="benefits-text">
            The Myspace page defines the individual, his or her characteristics,
            traits, personal choices and the overall personality of the person.
          </p>
          <h3 class="benefits-alternative-title">Accessory makers</h3>
          <p class="benefits-text">
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
          <h3 class="benefits-alternative-title">Alterationists</h3>
          <p class="benefits-text">
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
          <img
            class="benefits-img"
            srcset="
              ./images/benefits/management-mobile.png     288w,
              ./images/benefits/management-mobile@2x.png  576w,
              ./images/benefits/management-desktop.png    360w,
              ./images/benefits/management-desktop@2x.png 720w
            "
            sizes="(min-width: 1158px) 360px, (min-width: 768px) 356px, (max-width: 767px) 288px"
            src="./images/benefits/management-mobile.png"
            alt="Management picture"
            height=""
            width="350"
          />
        </div>
      </li>
      <li class="benefits-section-item">
        <div class="benefits-container">
          <p class="benefits-text">Easier decision making for</p>
          <h2 class="benefits-title">Customer Support</h2>
          <p class="benefits-text">
            The Myspace page defines the individual, his or her characteristics,
            traits, personal choices and the overall personality of the person.
          </p>
          <ul>
            <li>
              <svg
                class="benefits-icon"
                width="36"
                height="36"
                aria-label="accept icon"
              >
                <use href="../images/sprite.svg#yellow-accept-icon"></use>
              </svg>
              <p class="benefits-text">
                Never worry about overpaying for your energy again.
              </p>
            </li>
            <li>
              <svg
                class="benefits-icon"
                width="36"
                height="36"
                aria-label="accept icon"
              >
                <use href="../images/sprite.svg#red-accept-icon"></use>
              </svg>
              <p class="benefits-text">
                We will only switch you to energy companies that we trust and
                will treat you right
              </p>
            </li>
            <li>
              <svg
                class="benefits-icon"
                width="36"
                height="36"
                aria-label="accept icon"
              >
                <use href="../images/sprite.svg#blue-accept-icon"></use>
              </svg>
              <p class="benefits-text">
                We track the markets daily and know where the savings are.
              </p>
            </li>
          </ul>
          <img
            class="benefits-img"
            srcset="
              ./images/benefits/support-mobile.png     288w,
              ./images/benefits/support-mobile@2x.png  576w,
              ./images/benefits/support-desktop.png    360w,
              ./images/benefits/support-desktop@2x.png 720w
            "
            sizes="(min-width: 1158px) 360px, (min-width: 768px) 356px, (max-width: 767px) 288px"
            src="./images/benefits/support-mobile.png"
            alt="support picture"
            height=""
            width="350"
          />
        </div>
      </li>
      <li class="benefits-section-item">
        <div class="benefits-container">
          <p class="benefits-text">Optimisation for</p>
          <h2 class="benefits-title">Collaborative</h2>
          <p class="benefits-text">
            Few would argue that, despite the advancements of feminism over the
            past three decades, women still face a double standard when it comes
            to their behavior.
          </p>
          <h3>Accessory makers</h3>
          <p class="benefits-text">
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
          <h3>Alterationists</h3>
          <p class="benefits-text">
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
          <img
            srcset="
              ./images/benefits/collaboration-mobile.png      288px,
              ./images/benefits/collaboration-mobile@2x.png   576w,
              ./images/benefits/collaboration-desktop.png     360w,
              ./images/benefits/collaboration-desktop@2x.png 720w
            "
            sizes="(min-width: 1158px) 360px, (min-width: 768px) 356px, (max-width: 767px) 288px"
            src="./images/benefits/collaboration-mobile.png"
            alt="collaboration picture"
            height=""
            width="350"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
