<footer class="footer-section">
  <div class="container">
    <div class="social-links-wrapper">
      <a href="" class="footer-logo-link">
        <svg>
          <use></use>
        </svg>
      </a>
      <ul class="social-list">
        <li>
          <a href="" class="footer-social-links">
            <svg>
              <use></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer-social-links">
            <svg>
              <use></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="footer-social-links">
            <svg>
              <use></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="resourses-wrap">
      <p class="resourse-subtitle"></p>
      <ul class="resourse-list">
        <li><a href="" class="resourses-links"></a></li>
        <li><a href="" class="resourses-links"></a></li>
        <li><a href="" class="resourses-links"></a></li>
        <li><a href="" class="resourses-links"></a></li>
      </ul>
    </div>
    <div class="staff-wrap">
      <p class="staff-subtitle"></p>
      <ul class="staff-list">
        <li><a href="" class="staff-links"></a></li>
        <li><a href="" class="staff-links"></a></li>
        <li><a href="" class="staff-links"></a></li>
        <li><a href="" class="staff-links"></a></li>
      </ul>
    </div>
    <div class="footer-form-wrap">
      <p class="form-subtitle"></p>
      <form action="" class="footer-form">
        <div class="input-wrapper">
          <input type="text" class="footer-input" />
          <svg class="footer-phone-icon">
            <use></use>
          </svg>
        </div>
        <button class="footer-form-btn"></button>
      </form>
    </div>
  </div>
</footer>
