<section class="hero-section">
  <div class="hero-section-container container">
    <div class="hero-section-thumb">
      <img 
      class="hero-section-img" 
      srcset="
      /img/hero-section/hero-img.png 610w,
      /img/hero-section/hero-img@x2.png 1220w,
      /img/hero-section/amico.png 338w,
      /img/hero-section/amico@x2.png 676w,
      "
      sizes="
      (min-width: 1150px) 610px, 
      (max-width: 1149px) 338px
      "
      src="img/hero-section/hero-img.png" 
      alt="Рисунок людей" 
      width="610">
    </div>
    <div class="hero-section-wraper">
      <h1 class="hero-section-header">Work at the speed of thought</h1>
      <p class="hero-section-text">Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your next user experience.</p>
      <div class="hero-section-button-wraper">
        <button class="hero-section-button">Get started</button>
        <div class="hero-section-link-container">
          <svg
          class="hero-section-link-svg"
          width="20"
          height="18"
          aria-label="start link"
          >
          <use href="/img/sprite.svg#arrow-icon"></use>
          </svg>
          <a class="hero-section-link" href="">Watch the Video</a>
        </div>
      </div>
    </div>
  </div>
</section>
