<section class="newsfeed-section">
  <div class="newsfeed-bg-container page-container">
    <h2 class="newsfeed-heading">Contents Strategies</h2>
    <p class="newsfeed-text">We focus on ergonomics and meeting you where you work. It's only a keystroke away.</p>
    <ul>
      <li class="news-case">
        <picture>
          <source media="(min-width: 1150px)" srcset="
                    ../images/newsfeed/news-1-desktop.jpg    1x,
                    ../images/newsfeed/news-1-desktop@2x.jpg 2x
                  " />
          <source media="(min-width: 412px)" srcset="
                    ../images/newsfeed/news-1-mobile.jpg    1x,
                    ../images/newsfeed/news-1-mobile@2x.jpg 2x
                  " />
          <img src="../images/newsfeed/news-1-mobile.jpg" alt="news" />
        </picture>
        <p class="news-author">By <span class="news-author-name">Wahid Ari</span> | 03 March 2019</p>
        <p class="news-title">Increasing Prosperity With Positive Thinking</p>
      </li>
      <li class="news-case">
        <picture>
          <source media="(min-width: 1150px)" srcset="
                            ../images/newsfeed/news-2-desktop.jpg    1x,
                            ../images/newsfeed/news-2-desktop@2x.jpg 2x
                          " />
          <source media="(min-width: 412px)" srcset="
                            ../images/newsfeed/news-2-mobile.jpg    1x,
                            ../images/newsfeed/news-2-mobile@2x.jpg 2x
                          " />
          <img src="../images/newsfeed/news-2-mobile.jpg" alt="news" />
        </picture>
        <p class="news-author">By <span class="news-author-name">Wahid Ari</span> | 03 March 2019</p>
        <p class="news-title">Motivation Is The First Step To Success</p>
      </li>
      <li class="news-case">
        <picture>
          <source media="(min-width: 1150px)" srcset="
                            ../images/newsfeed/news-3-desktop.jpg    1x,
                            ../images/newsfeed/news-3-desktop@2x.jpg 2x
                          " />
          <source media="(min-width: 412px)" srcset="
                            ../images/newsfeed/news-3-mobile.jpg    1x,
                            ../images/newsfeed/news-3-mobile@2x.jpg 2x
                          " />
          <img src="../images/newsfeed/news-3-mobile.jpg" alt="news" />
        </picture>
        <p class="news-author">By <span class="news-author-name">Wahid Ari</span> | 03 March 2019</p>
        <p class="news-title">Success Steps For Your Personal Or Business</p>
      </li>
    </ul>
    <!-- <div>
      <svg width="64" height="16">
        <use href="../img/sprite.svg#pagination-icon"></use>
      </svg>
    </div> -->
  </div>
</section>