<section>
  <div class="page-container">
    <!-- Ihor -->
    <h2 class="price-section-title">Price Table</h2>
    <p class="price-section-text">We offer competitive price</p>
    <ul class="price-section-list">
      <div class="price-section-item-container">
        <li class="price-section-item">
          <h3 class="price-list-title">Free</h3>
          <p class="price-list-text">Brief price description</p>
          <div class="price-wrap">
            <ul>
              <div class="number-wrap">
                <li class="price-item-number">0</li>
              </div>
              <div class="price-container">
                <li class="price-item-currency">$</li>
                <li class="price-item-month">Per / month</li>
              </div>
            </ul>
          </div>
          <div class="price-list-wrap">
            <ul class="price-list-opportunities">
              <li>
                <p class="list-text">Only 2 Operators</p>
              </li>
              <li>
                <p class="list-text">Notifications</p>
              </li>
              <li>
                <p class="list-text">Landing Pages</p>
              </li>
            </ul>
          </div>
          <button class="price-section-btn" type="button">Order Now</button>
        </li>
      </div>
      <div class="price-section-item-container">
        <li class="price-section-item">
          <h3 class="price-list-title">Standard</h3>
          <p class="price-list-text">Brief price description</p>
          <div class="price-wrap">
            <ul>
              <div class="number-wrap">
                <li class="price-item-number">5</li>
              </div>
              <div class="price-container">
                <li class="price-item-currency">$</li>
                <li class="price-item-month">Per / month</li>
              </div>
            </ul>
          </div>
          <div class="price-list-wrap">
            <ul class="price-list-opportunities">
              <li>
                <p class="list-text">5+ Operators</p>
              </li>
              <li>
                <p class="list-text">Notifications</p>
              </li>
              <li>
                <p class="list-text">Landing Pages</p>
              </li>
            </ul>
          </div>
          <button class="price-section-btn" type="button">Order Now</button>
        </li>
      </div>
      <div class="price-section-item-container">
        <li class="price-section-item">
          <h3 class="price-list-title">Premium</h3>
          <p class="price-list-text">Brief price description</p>
          <div class="price-wrap">
            <ul>
              <div class="number-wrap">
                <li class="price-item-number">10</li>
              </div>
              <div class="price-container">
                <li class="price-item-currency">$</li>
                <li class="price-item-month">Per / month</li>
              </div>
            </ul>
          </div>
          <div class="price-list-wrap">
            <ul class="price-list-opportunities">
              <li>
                <p class="list-text">10+ Operators</p>
              </li>
              <li>
                <p class="list-text">Notifications</p>
              </li>
              <li>
                <p class="list-text">Landing Pages</p>
              </li>
            </ul>
          </div>
        </li>
        <button class="price-section-btn" type="button">Order Now</button>
      </div>
    </ul>
  </div>
</section>
