<section>
  <div class="page-container">
    <!-- Ihor -->
    <h2 class="price-section-title">Price Table</h2>
    <p class="price-section-text">We offer competitive price</p>
    <ul class="price-section-list">
      <li>
        <h3>Free</h3>
        <p>Brief price description</p>
        <div class=""></div>
        <div class="">
          <ul>
            <li>
              <p>Only 2 Operators</p>
            </li>
            <li>
              <p>Notifications</p>
            </li>
            <li>
              <p>Landing Pages</p>
            </li>
          </ul>
        </div>
        <button class="price-section-btn" type="button">Order Now</button>
      </li>
      <li>
        <h3>Standard</h3>
        <p>Brief price description</p>
        <div class=""></div>
        <div class="">
          <ul>
            <li>
              <p>5+ Operators</p>
            </li>
            <li>
              <p>Notifications</p>
            </li>
            <li>
              <p>Landing Pages</p>
            </li>
          </ul>
        </div>
        <button class="price-section-btn" type="button">Order Now</button>
      </li>
      <li>
        <h3>Premium</h3>
        <p>Brief price description</p>
        <div class=""></div>
        <div class="">
          <ul>
            <li>
              <p>10+ Operators</p>
            </li>
            <li>
              <p>Notifications</p>
            </li>
            <li>
              <p>Landing Pages</p>
            </li>
          </ul>
        </div>
        <button class="price-section-btn" type="button">Order Now</button>
      </li>
    </ul>
  </div>
</section>
