<section>
  <div class="page-container">
    <!-- Ihor -->
    <h2 class="price-section-title">Price Table</h2>
    <p class="price-section-text">We offer competitive price</p>
    <ul class="price-section-list">
      <li class="price-section-item">
        <h3 class="price-list-title">Free</h3>
        <p class="price-list-text">Brief price description</p>
        <div class="price-wrap">
          <span class="price-item-number">0</span>
          <div class="price-container">
            <span class="price-item-currency">$</span>
            <span class="price-item-month">Per / month</span>
          </div>
        </div>
        <ul class="price-list-opportunities">
          <li>
            <p class="list-text">Only 2 Operators</p>
          </li>
          <li>
            <p class="list-text">Notifications</p>
          </li>
          <li>
            <p class="list-text last-list-text">Landing Pages</p>
          </li>
        </ul>
        <button class="price-section-btn" type="button">Order Now</button>
      </li>
      <li class="price-section-item">
        <h3 class="price-list-title">Standard</h3>
        <p class="price-list-text">Brief price description</p>
        <div class="price-wrap">
          <span class="price-item-number">5</span>
          <div class="price-container">
            <span class="price-item-currency">$</span>
            <span class="price-item-month">Per / month</span>
          </div>
        </div>
        <ul class="price-list-opportunities">
          <li>
            <p class="list-text">5+ Operators</p>
          </li>
          <li>
            <p class="list-text">Notifications</p>
          </li>
          <li>
            <p class="list-text last-list-text">Landing Pages</p>
          </li>
        </ul>
        <button class="price-section-btn" type="button">Order Now</button>
      </li>
      <li class="price-section-item">
        <h3 class="price-list-title">Premium</h3>
        <p class="price-list-text">Brief price description</p>
        <div class="price-wrap">
          <span class="price-item-number price-number">10</span>
          <div class="price-container">
            <span class="price-item-currency">$</span>
            <span class="price-item-month">Per / month</span>
          </div>
        </div>
        <ul class="price-list-opportunities">
          <li>
            <p class="list-text">10+ Operators</p>
          </li>
          <li>
            <p class="list-text">Notifications</p>
          </li>
          <li>
            <p class="list-text last-list-text">Landing Pages</p>
          </li>
        </ul>
        <button class="price-section-btn" type="button">Order Now</button>
      </li>
    </ul>
  </div>
</section>
