<section class="promo-section">
  <div class="container">
    <div class="promo-container">
      <div class="promo-content-wrap">
        <h2 class="promo-title">
          Join 100 Compannies who boost their business with Product
        </h2>
        <button class="promo-btn" type="button">Get This</button>
      </div>
      <img
        srcset="./images/promo/screen@2x.png 2x"
        src="./images/promo/screen.png"
        alt="diagram"
        width="351"
      />
    </div>
  </div>
</section>
